#register {
  background-color: var(--color1);
  padding: 0 var(--padding2);
  height: 100vh;
}

#register-container {
  max-width: calc(var(--max-width) / 3);
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 25px;
}

@media screen and (min-width: 768px) {
  #register {
    padding: 0 var(--padding3);
  }
}
