.button {
  padding: 12px;
  font-size: var(--font-size1);
  border-radius: var(--border-radius);
  background-color: var(--color2);
  color: var(--white);
  font-weight: 600;
  box-shadow: 2px 2px 0 var(--black);
  border: 1px solid var(--black);
  margin: 0 2px 2px 0;
}

.button:active {
  box-shadow: 0px 0px 0 var(--black);
  margin: 2px 0 0 2px;
}
