#like-button {
  margin: 20px auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#like-icon, #like-count {
  margin: 0;
}

#like-icon {
  font-size: 35px;
}

#like-count {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  #like-button {
    flex-direction: row;
    margin: 20px 0;
    padding: inherit 0;
    gap: 5px;
  }

  #like-icon {
    font-size: 27px;
  }

  #like-count {
    font-size: 15px;
  }
}
