.post-card {
  background-color: var(--white);
  padding: 30px;
  border: 1px solid var(--black);
  box-shadow: 2px 2px 0 var(--black);
  border-radius: 3px;
  max-width: 300px;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
