.post-card {
  background-color: var(--white);
  padding: 30px;
  border: 1px solid var(--black);
  box-shadow: 2px 2px 0 var(--black);
  border-radius: 3px;
}

.post-card a > *:not(:last-child) {
  margin-bottom: 10px;
}
