.comment-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment p {
  margin: 0;
}

.username {
  margin: 0 8px;
}

.content {
  padding: 5px 0;
}
