#post {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: calc(var(--padding) + 10px);
}

#author-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
