#post {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: var(--padding) calc(var(--padding) + 10px);
  max-width: var(--max-width);
  margin: auto;
}

#author-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  #post {
    padding: 80px calc(var(--padding3) + 10px);
  }

  #author-date {
    justify-content: start;
    gap: 10px;
  }
}
