#user {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color1);
  min-height: 100%;
  height: fit-content;
}

#user-section {
  width: 100%;
  padding: var(--padding);
  background-color: var(--white);
  box-sizing: border-box;
}

#user-section-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: calc(var(--max-width) / 1.5);
}

#name-and-username-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#posts-section {
  padding: var(--padding);
  background-color: var(--color1);
}

#posts-section-container {
  max-width: var(--max-width);
}

#user-section img {
  margin: 10px;
}

#description {
  margin-top: 20px;
  max-width: 400px;
}

#profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

#name {
  font-size: var(--font-size2);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  #posts-section {
    padding: var(--padding) var(--padding3);
  }

  #user-section {
    padding: var(--padding) var(--padding3);
  }

  #name-and-username-container {
    flex-direction: row;
  }

  #user-section-container {
    flex-direction: row;
    text-align: end;
    gap: 20px;
  }
}
