#create-post {
  background-color: var(--color1);
  padding: 0 var(--padding2);
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

#create-post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width);
  height: 100vh;
  gap: 10px;
  margin: auto;
}

h1 {
  margin: 10px 0;
}

#create-post > textarea, #create-post > button {
  margin: 10px 0;
}

#submit-button {
  max-width: 200px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #create-post {
    padding: 0 var(--padding3);
  }
}
